<% provide(:title, 'Dependents') %>
<p id="notice"><%= notice %></p>

<div class="dependents">
  <h1>Dependents</h1>
</div>

<div class="dependents">
  <span class="btn btn-success"><i class='fa fa-user'></i>
    <%= link_to 'New Dependent', new_company_employee_dependent_path, {style: "color: white"} %>
  </span>
</div>
</br>

<table class="dependents">
  <thead>
    <tr>      
      <th>Last Name</th>
      <th>First Name</th>
      <th>Relationship</th>
      <th>Date of Birth</th>
      <th>Age</th>
      <th colspan="2">Actions</th>
    </tr>
  </thead>

  <tbody>
    <% @dependents.each do |dependent| %>
      <tr>
        <td><%= dependent.last_name %></td>
        <td><%= dependent.first_name %></td>
        <td><%= dependent.relationship %></td>
        <td><%= dependent.date_of_birth.strftime("%D") %></td>
        <td><%= dependent.dep_age(dependent.date_of_birth) %></td>
        <td><%= link_to "Edit", edit_company_employee_dependent_path(current_user.company_id, current_user.employee_id, dependent.id)%></td>
        <td><%= link_to "Remove" %></td>
      </tr>
    <% end %>
  </tbody>
</table>


