<% provide(:title, 'Employees') %>
<p id="notice"><%= notice %></p>

<div class="employees">
  <h1><%= @company.name %> - Employees</h1>
</div>

<table class="employees">
  <thead>
    <tr>      
      <th><%= sortable "last_name", "Last Name" %></th>
      <th><%= sortable "first_name", "First Name" %></th>
      <th><%= sortable "email" %></th>
      <th colspan="5"><span>Actions <i class='fa fa-cog fa-spin fa-fw'></i></span></th>
    </tr>
  </thead>

  <tbody>
    <% @employees.each do |employee| %>
      <tr>
        <td><%= employee.last_name %></td>
        <td><%= employee.first_name %></td>        
        <td><%= employee.email %></td>
        <td><%= link_to 'Show', company_employee_path(employee.company, employee) %></td>
        <td><%= link_to 'Edit', edit_company_employee_path(employee.company, employee) %></td>
        <td><%= link_to 'Benefits', company_employee_employee_benefit_selections_path(employee.company, employee) %></td>

        <td><%= link_to 'Salary/Rate', company_employee_salaries_path(employee.company, employee) %></td>
        <td><%= link_to 'Manage Files', company_employee_folders_path(employee.company, employee) %></td>

        <% if false %>
        <td><%= link_to 'Destroy', company_employee_path(employee.company, employee), method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>

      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Employee', new_company_employee_path %>



