<% provide(:title, ' New Employee') %>
<div class="employees">
  <h1>Add New Employee</h1>
</div>

<div class="employees">
  <%= form_for @employee, :url => company_employees_path(@company) do |f| %>
    <% if @employee.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@employee.errors.count, "error") %> prohibited this employee from being saved:</h2>

        <ul>
        <% @employee.errors.full_messages.each do |message| %>
          <li><%= message %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="field">
      <%= f.label :company_name, "#{@company.name}", style: "color: green; font-size: 18px;" %>
    </div></br>

    <div class="field">
      <%= f.label :first_name %><br>
      <%= f.text_field :first_name %>
    </div>

    <div class="field">
      <%= f.label :last_name %><br>
      <%= f.text_field :last_name %>
    </div>
    
    <div class="field">
      <%= f.label :email %><br>
      <%= f.text_field :email, :size=>"40"%>
    </div>

    <div class="field">
      <%= f.label :date_of_birth %><br>
      <%= f.text_field :date_of_birth, type: :date %>
    </div>

    <div class="field">
      <%= f.label :benefit_eligible %><br>
      <%= f.check_box :benefit_eligible %>
    </div>

    </br>
    <div class="actions">
      <%= f.submit %>
    </div>

  <% end %>

  <br>

  <%= link_to 'Back', company_employees_path, class: 'btn btn-danger' %>
</div>