<% provide(:title, 'Employee') %>
<p id="notice"><%= notice %></p>

<div class="employees">
  <div class="row">
    <aside class="col-md-4">
    	<%= "Name: " %>
      <%= @employee.first_name %> <%= @employee.last_name %></br></br>
      <%= "E-mail: " %>
      <%= @employee.email %></br>
      <%= "SSN: " %>
      <%= @employee.ssn %></br>
      <%= "Date of Birth: " %>
      <%= @employee.date_of_birth %></br>
      <%=	"Address: " %>
      <%= @employee.address %></br>
      <%= "City: " %>
      <%= @employee.city %></br>
      <%= "State: " %>
      <%= @employee.state %></br>
      <%= "Zip: " %>
      <%= @employee.zip %></br>
      <%= "Phone number: " %>
      <%= @employee.phone_number %></br>
      <% if current_user.manager? %>
        <%= "Subscriber ID: " %>
        <%= @employee.sub_id %></br>
      <% else %>
        </br>
      <% end %>
    </aside>
  </div>
</div>

  <%= link_to 'Edit', edit_company_employee_path%> |
  <%= link_to 'Manage Dependents', company_employee_dependents_path(employee_id: params[:id]) %> |
  <% if current_user.manager? || current_user.admin? %>
    <%= link_to 'Back to Employees', company_employees_path %>
  <% else %>
    <%= link_to 'Home', root_path %>
  <% end %>
</div>