<p id="notice"><%= notice %></p>

<% if !@employee_benefit_selection.decline_benefit? %>
	<p>
	  <strong>Employee:</strong>
	  <%= @employee_benefit_selection.employee.display_name %>
	</p>

	<p>
	  <strong>Benefit type:</strong>
	  <%= @employee_benefit_selection.benefit_type %>
	</p>

	<p>
	  <strong>Decline benefit:</strong>
	  <%= @employee_benefit_selection.decline_benefit %>
	</p>

	<p>
	  <strong>Benefit Rate:</strong>
	  <%= @benefit_rate %>
	</p>
<% else %>

<% end %>
<!-- <p>
  <strong>Benefit detail:</strong>
  <%= @employee_benefit_selection.benefit_detail_id %>
</p> -->

<%= link_to 'Back', company_employee_employee_benefit_selections_path %>
