<p id="notice"><%= notice %></p>

<div class="ben-selections">
  <h1><%= @employee.display_name %> - Benefit Selections</h1>
</div>

<!-- -->
<div class="ben-selections">
	<% if @employee.benefit_eligible %>
		<p>
		  <strong>Employee:</strong>
		  <%= @employee_benefit_selection.employee.display_name %>
		</p>

		<p>
		  <strong>Benefit Provider:</strong>
		  <%= @ben_profile.provider %>
		</p>

		<p>
		  <strong>Plan:</strong>
		  <%= @ben_profile.provider_plan %>
		</p>

		<p>
		  <strong>Benefit type:</strong>
		  <%= @employee_benefit_selection.benefit_type %>
		</p>

		<p>
		  <strong>Effective Date:</strong>
		  <%= @effective_date.strftime("%B, %d, %Y") %>
		</p>

		<p>
		  <strong>Age on effective date:</strong>
		  <%= @ee_age %>
		</p>

		<h2> Pricing Options </h2>

		<p>
      <input type="checkbox" id="employee_only"></input>
		  <strong>Employee only: </strong>
		  <%= @benefit_rate[:employee_only] %>
		</p>

    <p>
      <strong>Employee plus spouse: </strong>
      <%= @benefit_rate[:employee_plus_spouse] %>
    </p>

	<% else %>
		<%= "Not eligible" %>
	<% end %>

	
</div>

<%= link_to 'Accept', company_employee_employee_benefit_selection_accept_benefit_path(employee_benefit_selection_id: @employee_benefit_selection.id, employee_id: @employee.id), method: :post, class: "btn btn-success", data: {confirm: "Accept this rate?"} %><%= "  " %>
<%= link_to 'Decline', company_employee_employee_benefit_selection_decline_benefit_path(employee_benefit_selection_id: @employee_benefit_selection.id, employee_id: @employee.id), method: :post, class: "btn btn-danger", data: {confirm: "Decline this rate?"} %>
</br>
</br>
<%= link_to 'Back', company_employee_employee_benefit_selections_path %>
