<p id="notice"><%= notice %></p>

<div class="ben-selections">
  <h1><%= @employee.display_name %></h1>
  <h1><%=" #{@benefit_profile.provider} #{@benefit_profile.provider_plan} #{@benefit_profile.benefit_type}" %></h1>
</div>

<br>
<!-- ************** @rate_selection.type not working from controller ***********-->
<!-- load partial view based on insurance type -->

<% if @employee.benefit_eligible? %>
  <% if @benefit_profile.benefit_type == "Life" %>
    <%= render :partial => 'life_benefits'%>
  <% else %>
    <%= render :partial => 'medical_benefits'%>
  <% end %>
<% end %>

<br>

<!-- DECLINE OPTION MAY NEED TO DROP IN HERE -->
<!-- bottom button links -->
<div class="buttons">
  <span class="btn btn-danger"><i class='fa fa-arrow-left'></i>
    <%= link_to 'Back', company_employee_employee_benefit_selections_path %>
  </span>
</div>
