<p id="notice"><%= notice %></p>

<div class="ben-selections">
  <h1><%= @employee.display_name %> - Benefit Selections</h1>
</div>

<div class="ben-selections">
  <% if @employee.benefit_eligible? %>
  <!-- new form object -->
	<%= form_for @rate_selection, url: company_employee_rate_selections_path(company_id: @company.id, employee_id: @employee.id) do |f| %>
    <%= f.hidden_field :employee_benefit_selection_id %>
    <%= f.fields_for :choices, @rate_selection.choices do |choice_form| %>
      <%= choice_form.hidden_field :code %>
      <%= choice_form.hidden_field :amount %>
      <%= choice_form.label :name, choice_form.object.name, class: "choice_name" %>
      <%= choice_form.hidden_field :name %>
      <%= choice_form.label :label, choice_form.object.label, class: "choice_amount" %>
      <%= choice_form.check_box :selected %>
      <br>

    <% end %>

    <%= f.submit %>
  <% end %>

	<% else %>
		<%= "Not eligible" %>
	<% end %>
</div>

</br>
<%= link_to 'Back', company_employee_employee_benefit_selections_path %>
