<ul>
  <li>
    <%= link_to 'BACK', root_path %></br></br>
  </li>
  <% @users.each do |user| %>
  <li>
  	<%= 'E-mail: ' %>
    <%= user.email %>
    	<% if user.manager? %>
    		</br>
    		<%= ' :Manager' %>
    	<% elsif user.employee? %>
    		</br>
    		<%= ' :Employee' %>
    	<% elsif user.admin? %>
    		</br>
    		<%= ' :Admin' %>
    	<% else %>
    		</br>
    		<%= ' **No role selected' %>
    	<% end %>
    </br></br>
  </li>
  <% end %>
</ul>