<% provide(:title, 'Companies') %>
<h1></br>Companies</h1>

<h2>
  List of Companies coming soon!
</h2>

<h3>
<table>
  <tbody>
      <%= "Our users: " %></br>
	  <% @users.each do |user| %>
  	  <%= user.email %><br/>
	<% end %>
  </tbody>
</table>
</h3>
<div class="container">
  <aside class='sidebar list-group'>
    <ul >
      <li><%= link_to "Home", root_path %></li>
      <li><%= link_to "Payroll",    '#' %></li>
      <li><%= link_to "Employee",   '#' %></li>
      <li><%= link_to "Benefits",   '#' %></li>
      <li><%= link_to "Worker's Comp", '#' %></li>
      <li><%= link_to "401k",       '#' %></li>
      <li><%= link_to "Files",   	'#' %></li>
     </ul>
   </aside>
</div>