<p id="notice"><%= notice %></p>

<div class='profiles'>
  <h1>Benefit Profiles: <%="#{current_user.company_name}" %></h1>

  <table>
    <thead>
      <tr>
        <th>Provider</th>
        <th>Plan</th>
        <th>Type</th>
        <th colspan="4">Actions <span><i class='fa fa-cog fa-spin fa-fw'></i></span></th>
      </tr>
    </thead>

    <tbody>
      <% @benefit_profiles.each do |benefit_profile| %>
        <tr>
          <td><%= benefit_profile.provider %></td>
          <td><%= benefit_profile.provider_plan %></td>
          <td><%= benefit_profile.benefit_type %></td>
          <td><%= link_to 'Employee Rates' %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <br>
</div>