<p id="notice"><%= notice %></p>

<div class='profiles'>
	<h1> Employee Rates: <%= "#{@benefit_profile.provider}" " #{@benefit_profile.benefit_type}" %></h1>
	<table>
    <thead>
      <tr>
        <th>Last</th>
        <th>First</th>
        <th>Eligibility</th>
        <th colspan="4">Actions <span><i class='fa fa-cog fa-spin fa-fw'></i></span></th>
      </tr>
    </thead>

    <tbody>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= employee.last_name %></td>
          <td><%= employee.first_name %></td>
          <td>
            <% if !employee.benefit_eligible? %><i class='fa fa-plus-square', style='color: black;'></i>
                <span><%= link_to ' Make Eligible', edit_company_employee_path(employee.company, employee) %></span>
            <% else %>
              <!-- new block here to show if accepted or declined -->
            <% end %>    
          </td>
          <td><%= link_to "Edit Selection", company_employee_employee_benefit_selections_path(employee_id: employee.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</br></br>
<p><%= link_to 'Back', company_benefit_profiles_path %></p>

</div>