<p id="notice"><%= notice %></p>

<div class='profiles'>
	<h1> Employee Rates: <%= "#{@benefit_profile.provider}" " #{@benefit_profile.benefit_type}" %></h1>
	<table>
    <thead>
      <tr>
        <th>Last</th>
        <th>First</th>
        <th>Accept/Decline</th>
        <th colspan="4">Actions <span><i class='fa fa-cog fa-spin fa-fw'></i></span></th>
      </tr>
    </thead>

    <tbody>
      <% @employees.each do |employee| %>
        <tr>
          <td><%= employee.last_name %></td>
          <td><%= employee.first_name %></td>
          <td>
            <% @selections.where(employee_id: employee.id).each do |selection| %>
              <% if !selection.benefit_accept? %>
                <%= "Not yet selected" %>
              <% elsif selection.benefit_accept == true %>
                <span style="color: green"><%= "Accepted" %></span>
              <% elsif selection.benefit_accept == false %>
                <span style="color: red"><%= "Declined" %></span>
              <% end %>  
            <% end %>    
          </td>
          <td><%= link_to "Edit Selection", company_employee_employee_benefit_selections_path(employee_id: employee.id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

</br></br>
<p><%= link_to 'Back', company_benefit_profiles_path %></p>

</div>