<% provide(:title, 'Company') %>
<p id="notice"><%= notice %></p>

<div class='companies'>
  <h1>Company Info</h1>
</div>

</br>

<div class="companies">
  <table class="companies">
    <thead>
      <tr>
        <th>Co. Name</th>
        <th>Health Ins.</th>
        <th>Employee Roster</th>
      </tr>
    </thead>

    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td><%= company.name %></td>
          <td><%= link_to 'Reconciliation', company_index_path(company) %></td>
          <td><%= link_to 'View Employees', company_employees_path(company) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<% if current_user.admin? %>
  <%= link_to 'New Company', new_company_path %>
<% else %>
  <%= link_to 'Home Screen', root_path %>
<% end %>