<p id="notice"><%= notice %></p>

<h1>Company Info</h1>
</br>

<table style="border-collapse: collapse; border: 2px solid black;">
  <thead style="border: 1px solid black;">
    <tr>
      <th>Co. Name</th>
      <th>Health Ins.</th>
      <th>Employee Roster</th>
    </tr>
  </thead>

  <tbody style="text-align: center">
    <% @companies.each do |company| %>
      <tr>
        <td><%= company.name %></td>
        <td><%= link_to 'Reconciliation', company_index_path(company) %></td>
        <td><%= link_to 'View Employees', company_employees_path(company) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if current_user.admin? %>
  <%= link_to 'New Company', new_company_path %>
<% else %>
  <%= link_to 'Home Screen', root_path %>
<% end %>