<% provide(:title, 'Company') %>

<div class='companies'>
  <h1>Company Info</h1>
</div>

</br>

<div class="companies">
  <table class="companies">
    <thead>
      <tr>
        <th>Co. Name</th>
        <th>Employee Roster</th>
        <th>Insurance Benefits</th>
        <th>My Profile</th>
        <th>View Dependents</th>
      </tr>
    </thead>

    <tbody>
      <% @companies.each do |company| %>
        <tr>
          <td><%= company.name %></td>
          <td><%= link_to 'View Employees', company_employees_path(company) %></td>
          <td><%= link_to 'Company/Personal Benefits', company_employee_benefit_selection_types_path(company) %></td>
          <td><%= link_to 'Profile', company_employee_path(current_user.company_id, current_user.employee_id) %></td>
          <td><%= link_to 'Dependents', company_employee_dependents_path(current_user.company_id, current_user.employee_id) %></td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
<br>

<% if current_user.admin? %>
  <%= link_to 'New Company', new_company_path %>
<% end %>