<p id="notice"><%= notice %></p>

<h1>Skeleton Test - Reconciliation</h1>
</br>
<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>

  <div class="form-group">
    <%= button_to 'Reconcile', calculate_reconciliations_path %>
  </div>

  <tbody>
    <% @reconciliations.each do |r| %>
      <tr>

        <td><%= link_to 'Show', reconciliation %></td>
        <td><%= link_to 'Edit', edit_reconciliation_path(reconciliation) %></td>
        <td><%= link_to 'Destroy', reconciliation, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Reconciliation', new_reconciliation_path %>
