<p id="notice"><%= notice %></p>

<h1><%= @folder.title %></h1>

<p>
  <% if current_user.manager? || current_user.admin? %>
    <%= link_to "Edit folder", edit_company_employee_folder_path %>
    </br>
    <%= link_to "Add document", company_employee_folder_new_doc_path(folder_id: @folder.id) %>
  <% end %>
</p>
</br>
<p>
  <%= attachment_image_tag(@folder, :image, :fill, 200, 200) %>
</p>

<table class="table table-bordered">
  <thead>
    <tr>
      <th>Filename</th>
      <th>Content type</th>
      <th>Size</th>
      <% if current_user.manager? || current_user.admin? %>
        <th>Actions</th>
      <% end %>
    </tr>
  </thead>

  <tbody>
    <% @folder.documents.each do |document| %>
      <tr>
        <th><%= link_to document.file_filename, attachment_url(document, :file), target: :_blank %></th>
        <th><%= document.file_content_type %></th>
        <th><%= number_to_human_size document.file_size %></th>
        <% if current_user.manager? || current_user.admin? %>
          <th><%= link_to 'delete', company_employee_folder_delete_doc_path(folder_id: @folder.id, doc_id: document.id), data: { method: "delete", confirm: "Are you sure?" } %></th>
        <% end %>
      </tr>
    <% end %>
  </tbody>

</table>

<%= simple_format @folder.description %>
</br>
</br>

<% if current_user.manager? || current_user.admin? %>
  <p>
    <%= link_to "View all folders for this Employee", company_employee_folders_path %>
  </p>
  </br>
  <p>
    <%= link_to "Delete folder", company_employee_folder_path(folder_id: @folder.id), data: { method: "delete", confirm: "Are you sure?" }, class: "btn btn-danger" %>	
  </p>
<% elsif current_user.employee? %>
  <p>
    <%= link_to "Return to all Folders", company_employee_folders_path %>
  </p>
<% end %>
