<div class="selections">
  <h3> Dental UI test: Monthly Premium Costs for <%="#{@benefit_profiles.first.provider}"%> Dental Plans </h3><br>
</div>

<div class="selections">
  <ul class="selection-header">
    <li style="width: 325px;"> Sub Details </li>
    <% @provider_plans.each do |plan_name| %>
      <li style="width: 229px;"><%= plan_name %></li>
    <% end %>
  </ul>
</div>
<br>
<div class="selections">
  <%= form_for @rate_selection, url: company_employee_benefit_selection_type_accept_path(company_id: @company.id, employee_id: @employee.id, employee_benefit_selection_type_type: "Dental") do |f| %>
    <% current_choice_code = nil %>
    <% @selection_categories.each do |category| %>
      <% category_choices = @rate_selection.choices.select{|choice| choice.code == category.code} %>
      <% @provider_plans.each do |plan_name| %>
        <% category_plan_choice = category_choices.select{|category_choice| category_choice.plan_name == plan_name}.first %>
        <% if category_plan_choice.present? %>
          <%= f.fields_for :choices, category_plan_choice do |choice_form| %>
          <div class="selection-cell">
            <%= choice_form.hidden_field :code %>
            <%= choice_form.hidden_field :amount %>
            <%= choice_form.hidden_field :benefit_detail_id %>
            <%= choice_form.hidden_field :name %>
            <% if current_choice_code != category.code %>
              <div style="width:550px">
                <div class="selection-choice-item-name"><%= category_plan_choice.name %></div>
                <!-- <div class="selection-choice-item"><%= category_plan_choice.plan_name %></div> -->
                <div class="selection-choice-item"><%= number_to_currency(category_plan_choice.label) %></div>
                <div class="selection-choice-item"><%= choice_form.check_box :selected %></div>
              </div>
            <% else %>
              <div style="width:225px">
                <!-- <div class="selection-choice-item"><%= category_plan_choice.plan_name %></div> -->
                <div class="selection-choice-item"><%= number_to_currency(category_plan_choice.label) %></div>
                <div class="selection-choice-item"><%= choice_form.check_box :selected %></div>
              </div>
            <% end %>
          </div>
          <% end %>
        <% end %>
      <% current_choice_code = category.code %>
      <!-- CLOSE ROW LOOP then break -->
      <% end %>
      <br>
    <% end %>
  <br>
    <div class="buttons">
      <%= f.submit nil, class: 'btn btn-success' %>
    </div>
    <br>
  <% end %>
</div>