<div class="selections">
  <h3> Medical UI test </h1>
</div>

<div class="selections">
  <table>
    <thead>
      <tr>
        <% @benefit_profiles.each do |profile| %>
        <th style="width: 90px"><%= profile.provider %></th>
        <th style="width: 145px">Subscriber Details</th>
        <th style="width: 125px">Monthly Cost</th>
        <% end %>
      </tr>
    </thead>
  </table>
</div>
<div class="insurance-table">
  <%= form_for @rate_selection, url: company_employee_benefit_selection_type_accept_path(company_id: @company.id, employee_id: @employee.id, employee_benefit_selection_type_type: "Medical") do |f| %>
    <%= f.fields_for :choices, @rate_selection.choices do |choice_form| %>
      <table>
        <%= choice_form.hidden_field :code %>
        <%= choice_form.hidden_field :amount %>
        <%= choice_form.hidden_field :benefit_detail_id %>
        <td style="width: 90px"><%= choice_form.label :plan_name, choice_form.object.plan_name %></td>
        <td style="width: 145px"><%= choice_form.label :name, choice_form.object.name, class: "choice_name" %></td>
        <%= choice_form.hidden_field :name %>
        <td style="width: 125px"><%= choice_form.label :label, number_to_currency(choice_form.object.amount), class: "choice_amount" %></td>
        <td style="width: 25px"><%= choice_form.check_box :selected %></td>
      </table>
    <% end %>
    <br>
    <div>
      <%= f.submit %>
    </div>
    <br>
  <% end %>
</div>
<div id="clear">
</div>