<div class="ben-selections">
  <h3> Medical Type indexing test </h1>

  <h3><%= @rate_selection.benefit_details.count %><%=" benefit details showing"%></h3>
</div>

<div class="ben-selections">
  <table>
    <thead>
      <th></th>
      <% @benefit_profiles.each do |profile| %>
      <th><%= profile.provider %> <%= profile.provider_plan%></th>
      <% end %>
    </thead>
    <tbody>
      <%= form_for @rate_selection, url: company_employee_benefit_selection_type_accept_path(company_id: @company.id, employee_id: @employee.id, employee_benefit_selection_type_type: "Medical") do |f| %>
        <%= f.fields_for :choices, @rate_selection.choices do |choice_form| %>
          <%= choice_form.hidden_field :code %>
          <%= choice_form.hidden_field :amount %>
          <%= choice_form.text_field :code %>
          <%= choice_form.text_field :plan_name %>
          <%= choice_form.label :name, choice_form.object.name, class: "choice_name" %>
          <%= choice_form.hidden_field :name %>
          <%= choice_form.label :label, number_to_currency(choice_form.object.amount), class: "choice_amount" %>
          <%= choice_form.check_box :selected %>
          <br><hr>
        <% end %>
        <% @selection_categories.each do |selection_category| %>

        <% end %>
        <div>
          <%= f.submit %>
        </div>
      <% end %>
    </tbody>
  </table>
</div>