<div class="ben-selections">
  <h4> Medical Type indexing test UI</h4><br>
  <!-- <h1><%= @rate_selection.benefit_details.count %></h1> -->
</div>

<div class="ben-selections">
  <%= form_for @rate_selection, url: company_employee_benefit_selection_type_accept_path(company_id: @company.id, employee_id: @employee.id, employee_benefit_selection_type_type: "Medical") do |f| %>
    <%= f.fields_for :choices, @rate_selection.choices do |choice_form| %>
      <%= choice_form.hidden_field :code %>
      <%= choice_form.label :code, choice_form.object.code %>
      <%="----"%>
      <%= choice_form.label :plan_name, choice_form.object.plan_name %>
      <%="----"%>
      <%= choice_form.hidden_field :name %>
      <%= choice_form.label :name, choice_form.object.name %>
      <%="----"%>
      <%= choice_form.hidden_field :amount %>
      <%= choice_form.label :label, number_to_currency(choice_form.object.amount) %>
      <%="----"%>
      <%= choice_form.check_box :selected %>
      <br><hr>      
    <% end %>
    <div>
      <%= f.submit "Submit Rate"%>
    </div>
  <% end %>
  
  <br>
  <!-- Must figure out how to use this custom form as a table -->    
  <table>
    <thead>
      <th></th>
      <% @benefit_profiles.each do |profile| %>
      <th><%= profile.provider %> <%= profile.provider_plan%></th>
      <% end %>
    </thead>
    <tbody>
    </tbody>
  </table>
</div>