<div class="ben-selections">
  <h3> Medical Type indexing test </h1>

  <h3><%= @rate_selection.benefit_details.count %><%=" benefit details showing"%></h3>
</div>

<div class="ben-selections">
<table>
  <thead>
    <th>Subscriber details</th>
    <% @benefit_profiles.each do |profile| %>
    <th><%= profile.provider %> <%= profile.provider_plan%></th>
    <% end %>
  </thead>
  <tbody>
    <% selection_categories = ["SUB", "SUB-SPS", "SUB-DEP", "SUB-SPS-PLUS-ONE", "SUB-DEP-PLUS-ONE"] %>
    <% selection_categories.each do |selection_category| %>    
    <% rate_choices = @choices_dto[selection_category.to_sym] %>
      <% if rate_choices.present? %>
        <tr>
          <td><%= selection_category %></td>
          <% rate_choices.each do |rate_choice| %>
           
          <td><%="   "%><%= rate_choice.amount%></td>
          <% end %>
        </tr>
      <% end %>
    <% end %>
  </tbody>
</table>
</div>