<p id="notice"><%= notice %></p>

<h1>Listing Employee Benefits</h1>

<table>
  <thead>
    <tr>
      <th>Employee ID</th>
      <th>Employee Name</th>
      <th>PTO Balance</th>
      </tr>
  </thead>

  <tbody>
        <% @employee_benefits.each do |employee_benefit| %>
          <tr>
              <td><%= employee_benefit.ee_id %></td>
              <td><%= employee_benefit.employee_name%></td>
              <td><%= employee_benefit.pto_balance%></td>


          </tr>
      <% end %>
  </tbody>
</table>

<br>

<% @benefits_to_show = Array.new %>
<% @employee_benefits.each do |benefit| %>
  <%# if !(@employee.hidden_benifits.include? benefit.id) || current_admin_user.present? %>
    <% @benefits_to_show << benefit %>
  <%# end %>
<% end %>
<% if @benefits_to_show.present? && @benefits_to_show.count > 0 %>
  <table class="table">
    <thead>
      <tr>
        <th>Name of Benefit</th>
        <th>Description</th>
        <th>URL</th>
        <th></th>
      </tr>
    </thead>
    <tbody>
      <% @benefits_to_show.each do |benefit| %>
        <tr>
          <td>
            <%= benefit.name %>
          </td>
          <td>
            <%= benefit.description %>
          </td>
          <td>
            <%= link_to benefit.url, benefit.url, :target => "_blank" %>
          </td>
          
          <%# Adam to review controller and view for admin user%>
          
          <% if current_admin_user.present? %>
            <% if !(@employee.employee_benefits.include? benefit.id) %>
              <td>
                <%= link_to "Hide" , employee_benefit_hide_benefit_path(benefit.id) ,:class => "btn btn-primary" %>
              </td>
            <% else %>
              <td>
                <%= link_to "Show" , employee_benefit_show_benefit_path(benefit.id) ,:class => "btn btn-primary" %>
              </td>
            <% end %>
          <% end %>
        </tr>
      <% end %>
    </tbody>
  </table>
<% else %>
  <h1>"No Benefits to show" </h1>
<% end %>