<header class='top-bar'>
  <div class='main-logo'>
    <%= image_tag("logo.png", alt: "Core")%>
  </div>
      
  <ul class='profile'>
    <li>
      <a class='profile__user' data-toggle='dropdown' href='#' onclick='return false;'>
        <figure class='pull-left rounded-image profile__img'>
          <%= image_tag("user-placeholder.jpeg", alt: "Avatar")%>
        </figure>
        <span class='profile__name'>
          <%= current_user.first_name %>
        <span>
          <%= current_user.last_name %>
        </span>
          <!--<%= current_user.company_name %> -->
        </span>
      </a>
    </li>
    <li>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    </li>
  </ul>
</header>