<header class='top-bar'>
  <div class='main-logo'>
    <%= image_tag("logo.png", alt: "Core") %>
  </div>
      
  <ul class='profile'>
    <li>
      <a class='profile__user' data-toggle='dropdown' href='#' onclick='return false;'>
        <figure class='pull-left rounded-image profile__img'>
          <%= image_tag("user-placeholder.jpeg", alt: "Avatar")%>
        </figure>
        <span class='profile__name'>
          <% if current_user.manager? || current_user.employee? %>
            <%= current_user.first_name %> 
          <% else %>
            <%= current_user.email %>
          <% end %>
          <span>
            <% if current_user.manager? || current_user.employee? %>
              <%= current_user.last_name %> 
            <% else %>
              <!-- Maybe consider other condition here -->
            <% end %>
          </span>
          <% if current_user.manager? || current_user.employee? %>
            <%= current_user.company_name %> 
          <% else %>
            <%= 'Admin User' %>
          <% end %>
        </span>
      </a>
    </li>
    <li><%= link_to "Profile", company_employee_path(current_user.company_id, current_user.employee_id)%>
    <li>
      <%= link_to "Log out", destroy_user_session_path, method: :delete %>
    </li>
  </ul>
</header>