<aside class='sidebar list-group'>
  <ul class='main-nav'>
    <li class='main-nav--active' role='presentation'>
      <%= link_to root_path, class: 'main-nav__link' do %>
        <span class='main-nav__icon'>
          <i class='icon pe-7s-home'></i>
        </span>
        Home
      <% end %>
    </li>
    <li class='main-nav__link' role="presentation">
      <%= link_to root_path, class: 'main-nav__link' do %>
        <span class="main-nav__icon">
          <i class="icon pe-7s-users"></i>
        </span>
        Profile
      <% end %>
    </li>
    <li class='main-nav__link' role="presentation">
      <%= link_to root_path, class: 'main-nav__link' do %>
        <span class="main-nav__icon">
          <i class="icon pe-7s-cash"></i>
        </span>
        Benefits
      <% end %>
    </li>
    <li class='main-nav__link' role="presentation">
      <%= link_to root_path, class: 'main-nav__link' do %>
        <span class="main-nav__icon">
          <i class="icon pe-7s-wallet"></i>
        </span>
        Payroll
      <% end %>
    </li>
    <li class='main-nav__link' role="presentation">
      <%= link_to root_path, class: 'main-nav__link' do %>
        <span class="main-nav__icon">
          <i class="icon pe-7s-portfolio"></i>
        </span>
        401 k
      <% end %>
    </li>
  </ul>
</aside>


