<aside class='sidebar list-group'>
  <ul class='main-nav'>
    <li role='presentation'>
      <%= link_to root_path, class: 'main-nav__link' do %>
        <span class='main-nav__icon'>
          <i class='icon pe-7f-home'></i>
        </span>
        Change
      <% end %>
    </li>
    <li role='presentation'>
      <%= link_to root_path, class: 'main-nav__link' do %>
        <span class='main-nav__icon'>
          <i class='icon pe-7f-safe'></i>
        </span>
        These
      <% end %>
    </li>
    <li role='presentation'>
      <%= link_to root_path, class: 'main-nav__link' do %>
        <span class='main-nav__icon'>
          <i class='icon pe-7f-id'></i>
        </span>
        To
      <% end %>
    </li>
    <li role='presentation'>
      <%= link_to root_path, class: 'main-nav__link' do %>
        <span class='main-nav__icon'>
          <i class='icon pe-7f-glasses'></i>
        </span>
        Useful
      <% end %>
    </li>
    <li role='presentation'>
      <%= link_to root_path, class: 'main-nav__link' do %>
        <span class='main-nav__icon'>
          <i class='icon pe-7f-user'></i>
        </span>
        Admin
      <% end %>
    </li>
    <li role='presentation'>
      <%= link_to root_path, class: 'main-nav__link' do %>
        <span class='main-nav__icon'>
          <i class='icon pe-7f-graph1'></i>
        </span>
        Navigation
      <% end %>
    </li>
    <li role='presentation'>
      <%= link_to root_path, class: 'main-nav__link' do %>
        <span class='main-nav__icon'>
          <i class='icon pe-7f-copy-file'></i>
        </span>
        Files
      <% end %>
    </li>
  </ul>
</aside>