<aside class='sidebar list-group'>
  <ul class='main-nav'>
    <li role='presentation'>
      <%= link_to root_path, class: 'main-nav__link' do %>
        <span class='main-nav__icon'>
          <i class='icon pe-7s-home'></i>
        </span>
        Home
      <% end %>
    </li>
    <li role='presentation'>
      <%= link_to root_path, class: 'main-nav__link' do %>
        <span class='main-nav__icon'>
          <i class='icon pe-7s-safe'></i>
        </span>
        Payroll
      <% end %>
    </li>
    <li role='presentation'>
      <%= link_to company_employees_path(current_user.company_id), class: 'main-nav__link' do %>
        <span class='main-nav__icon'>
          <i class='icon pe-7s-id'></i>
        </span>
        Employee
      <% end %>
    </li>
    <li role='presentation'>
      <%= link_to root_path, class: 'main-nav__link' do %>
        <span class='main-nav__icon'>
          <i class='icon pe-7s-glasses'></i>
        </span>
        Benefits
      <% end %>
    </li>
    <li role='presentation'>
      <%= link_to root_path, class: 'main-nav__link' do %>
        <span class='main-nav__icon'>
          <i class='icon pe-7s-user'></i>
        </span>
        Worker Comp
      <% end %>
    </li>
    <li role='presentation'>
      <%= link_to root_path, class: 'main-nav__link' do %>
        <span class='main-nav__icon'>
          <i class='icon pe-7s-graph1'></i>
        </span>
        401 k
      <% end %>
    </li>
    <li role='presentation'>
      <%= link_to root_path, class: 'main-nav__link' do %>
        <span class='main-nav__icon'>
          <i class='icon pe-7s-copy-file'></i>
        </span>
        Files
      <% end %>
    </li>
  </ul>
</aside>