<aside class='sidebar list-group'>
  <ul class='main-nav'>
    <li role='presentation'>
      <%= link_to root_path, class: 'main-nav__link' do %>
        <span class='main-nav__icon'>
          <i class='icon pe-7f-home'></i>
        </span>
        Home
      <% end %>
    </li>
    <li role='presentation'>
      <%= link_to company_payroll_records_path(current_user.company_id), class: 'main-nav__link' do %>
        <span class='main-nav__icon'>
          <i class='icon pe-7f-ribbon'></i>
        </span>
        Payroll
      <% end %>
    </li>
    <li role='presentation'>
      <%= link_to company_employees_path(current_user.company_id), class: 'main-nav__link' do %>
        <span class='main-nav__icon'>
          <i class='icon pe-7f-glasses'></i>
        </span>
        Employees
      <% end %>
    </li>
    <li role='presentation'>
      <%= link_to company_employee_benefits_path(current_user.company_id), class: 'main-nav__link' do %>
        <span class='main-nav__icon'>
          <i class='icon pe-7f-portfolio'></i>
        </span>
        Benefits
      <% end %>
    </li>
    <li role='presentation'>
      <%= link_to root_path, class: 'main-nav__link' do %>
        <span class='main-nav__icon'>
          <i class='icon pe-7f-user'></i>
        </span>
        Worker Comp
      <% end %>
    </li>
    <li role='presentation'>
      <%= link_to root_path, class: 'main-nav__link' do %>
        <span class='main-nav__icon'>
          <i class='icon pe-7f-graph1'></i>
        </span>
        401 k
      <% end %>
    </li>
    <li role='presentation'>
      <%= link_to company_folders_path(current_user.company_id), class: 'main-nav__link' do %>
        <span class='main-nav__icon'>
          <i class='icon pe-7f-folder'></i>
        </span>
        Co. Documents
      <% end %>
    </li>
  </ul>
</aside>