<aside class='sidebar list-group'>
  <ul class='main-nav'>
    <li role='presentation'>
      <%= link_to companies_path, class: 'main-nav__link' do %>
        <span class='main-nav__icon'>
          <i class='fa fa-home'></i>
        </span>
        My Home
      <% end %>
    </li>
    <li role='presentation'>
      <%= link_to company_employee_dependents_path(current_user.company_id, current_user.employee_id), class: 'main-nav__link' do %>
        <span class='main-nav__icon'>
          <i class='fa fa-heartbeat'></i>
        </span>
        Dependents
      <% end %>
    </li>
    <li role='presentation'>
      <%= link_to company_employees_path(current_user.company_id), class: 'main-nav__link' do %>
        <span class='main-nav__icon'>
          <i class='fa fa-users'></i>
        </span>
        Employees
      <% end %>
    </li>
    <li role='presentation'>
      <%= link_to company_payroll_records_path(current_user.company_id), class: 'main-nav__link' do %>
        <span class='main-nav__icon'>
          <i class='fa fa-money'></i>
        </span>
        Payroll
      <% end %>
    </li>
    <li role='presentation'>
      <%= link_to company_employee_benefit_selection_types_path(current_user.company_id), class: 'main-nav__link' do %>
        <span class='main-nav__icon'>
          <i class='fa fa-balance-scale'></i>
        </span>
        Benefit Profiles
      <% end %>
    </li>
    <li role="presentation">
      <%= link_to invest_path, class: 'main-nav__link' do %>
        <span class="main-nav__icon">
          <i class="fa fa-bar-chart-o"></i>
        </span>
        401 k
      <% end %>
    </li>
    <li role='presentation'>
      <%= link_to company_folders_path(current_user.company_id), class: 'main-nav__link' do %>
        <span class='main-nav__icon'>
          <i class='fa fa-file-text'></i>
        </span>
        Co. Documents
      <% end %>
    </li>
  </ul>
</aside>