<aside class='sidebar list-group'>
  <ul class='main-nav'>
    <li role='presentation'>
      <%= link_to root_path, class: 'main-nav__link' do %>
        <span class='main-nav__icon'>
          <i class='fa fa-home'></i>
        </span>
        Home
      <% end %>
    </li>
    <li role='presentation'>
      <%= link_to root_path, class: 'main-nav__link' do %>
        <span class='main-nav__icon'>
          <i class='fa fa-home'></i>
        </span>
        Change
      <% end %>
    </li>
    <li role='presentation'>
      <%= link_to root_path, class: 'main-nav__link' do %>
        <span class='main-nav__icon'>
          <i class='fa fa-home'></i>
        </span>
        To
      <% end %>
    </li>
    <li role='presentation'>
      <%= link_to root_path, class: 'main-nav__link' do %>
        <span class='main-nav__icon'>
          <i class='fa fa-home'></i>
        </span>
        Useful
      <% end %>
    </li>
    <li role='presentation'>
      <%= link_to root_path, class: 'main-nav__link' do %>
        <span class='main-nav__icon'>
          <i class='fa fa-home'></i>
        </span>
        Admin
      <% end %>
    </li>
    <li role='presentation'>
      <%= link_to root_path, class: 'main-nav__link' do %>
        <span class='main-nav__icon'>
          <i class='fa fa-home'></i>
        </span>
        Navigation
      <% end %>
    </li>
    <li role='presentation'>
      <%= link_to root_path, class: 'main-nav__link' do %>
        <span class='main-nav__icon'>
          <i class='fa fa-home'></i>
        </span>
        Files
      <% end %>
    </li>
  </ul>
</aside>