<aside class='sidebar list-group'>
  <ul class='main-nav'>
    <li role='presentation'>
      <%= link_to root_path, class: 'main-nav__link' do %>
        <span class='main-nav__icon'>
          <i class='fa fa-home'></i>
        </span>
        Home
      <% end %>
    </li>
    <li role="presentation">
      <%= link_to company_employee_path(current_user.company_id, current_user.employee_id), class: 'main-nav__link' do %>
        <span class="main-nav__icon">
          <i class="fa fa-user-circle"></i>
        </span>
        Profile
      <% end %>
    </li>
    <li role="presentation">
      <%= link_to company_employee_employee_benefit_selections_path(current_user.company_id, current_user.employee_id), class: 'main-nav__link' do %>
        <span class="main-nav__icon">
          <i class="fa fa-balance-scale"></i>
        </span>
        Benefits
      <% end %>
    </li>
    <li role="presentation">
      <%= link_to invest_path, class: 'main-nav__link' do %>
        <span class="main-nav__icon">
          <i class="fa fa-bar-chart-o"></i>
        </span>
        401 k
      <% end %>
    </li>
    <li role="presentation">
      <%= link_to company_employee_folders_path(current_user.company_id, current_user.employee_id), class: 'main-nav__link' do %>
        <span class="main-nav__icon">
          <i class="fa fa-file-text-o"></i>
        </span>
        My Files
      <% end %>
    </li>
  </ul>
</aside>


