<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <!-- sidebar partial to be conditional for EE or manager -->
    <% if current_user.manager? %>
      <%= render 'layouts/sidebar'%>
    <% elsif current_user.admin? %>
      <%= render 'layouts/sidebar_admin' %>
    <% elsif current_user.employee? %>
      <%= render 'layouts/sidebar_ee' %>
    <% end %>

    <div class="content">
      <%= yield %> 
    </div>
    <!--
    <div class="content">
      <!-- Save footer (render 'layouts/footer') -->
    </body>
</html>