<!DOCTYPE html>
<html>
  <head>
    <title><%= full_title(yield(:title)) %></title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
    <%= render 'layouts/shim' %>
  </head>
  <body>
    <%= render 'layouts/header' %>
    <!-- sidebar partial to be conditional for EE or manager -->
    <%= render 'layouts/sidebar'%>
    
    <div class="content">
      <!-- basic yield to load contents of each page in layout -->
      <%= yield %> 
    </div>
    <!--
    <div class="content">
      <!-- Save footer (render 'layouts/footer') -->
  </body>
</html>