<!DOCTYPE html>
<html>
  <head>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= favicon_link_tag 'assets/images/favicon.ico', rel: "shortcut icon" %>
    <%= csrf_meta_tags %>
    <title>
      Core
    </title>
  </head>
  <body>
    <div class="container-fluid">
      <%= yield %>
    </div>
    
  </body>
</html>
